<h1>New group</h1>

<%= error_messages_for :group %>

<% form_for(@group) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', groups_path %>
