%h2
  = h @employee.name
  %span.on-vacation= " is on vacation right now!" if @employee.on_vacation
%p

%p
  %b Extension:
  =h @employee.extension

%p
  %b Email:
  =h @employee.email

= link_to 'Edit', edit_employee_path(@employee)
|
= link_to 'Back', employees_path