body {
	margin: 0;
	padding: 0;
	background: white url(http://www.engineyard.com/images/topbg.gif) repeat-x;
}
h1 {
	background: url(http://www.engineyard.com/images/logo.gif) top left no-repeat;
	height: 102px;
	width: 500px;
	line-height: 102px;
	font-size: 40px;
	text-align: center;
	margin: 0 auto 10px auto;
	padding-top: 80px;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	background-color: transparent;
	color: #a50000;
}
#container {
	font-size: 17px;
	font-family: Tahoma, "Trebuchet MS", Arial;
	margin: 0 auto;
	padding: 10px;
	width: 480px;
	background: #f2f2d5;
}

a {
	color: black;
	font-weight: bold;
	padding: 1px;
}

a:hover {
	color: #f2f2d5;
	background-color: black;
}

#dynamic_employee_creation_form {
	display: none;
}

input[type="text"] {
	font-size: 18px;
	
}

label {
	font-weight: bold;
}

.powered-by {
	display: block;
	text-align: center;
	color: #d0cfbe;
	font-size: 11px;
}

.powered-by a {
	color: #d0cfbe;
}

a.on-vacation-list {
	text-decoration: line-through;
}

.on-vacation {
	display: block;
}

.on-vacation label {
	font-weight: normal;
	padding: 3px;
}

.on-vacation label:active {
	color: #f2f2d5;
	background-color: black;
}

h2 span.on-vacation {
	display: block;
	font-size: 13px;
	color: #a50000;
}

ul.editor-users {
	list-style: none;
	padding: 0;
}
ul.editor-users li {
	float: left;
	margin: 3px;
	padding: 1px 3px;
	background-color: white;
	border: 1px black dotted;
	font-size: 12px;
	cursor: move;
}

ul.editor-users li:hover {
	background-color: black;
	color: #f2f2d5;
	border-color: #f2f2d5;
}

br.clear {
	clear: left;
}

div.editor-group {
	background-color: white ;
	min-height: 100px;
}

div.editor-group p.name {
	text-align: center;
}